/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */
@import url("fonts.css");

/* Header */

body, td, th, input {
    font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu Sans',Arial,sans-serif;
    font-size: 14px;
}

body {
    background: transparent !important;
    margin: 0;
}

#header {
    margin-bottom: 1.5em;
}

#header .links li:first-child a {
    background-image: url("./index/gnome-logo.svg");
    background-position: calc(3%) 50%;
    padding:12px 0 5px 60px;
    background-repeat: no-repeat;
    background-size: 90px auto;
    color: transparent;
    display: inline-block;
    cursor: pointer;
}

#header .links li:first-child a:hover,
#header .links li:first-child a:focus {
    opacity: 0.9;
}

#header form, #header form input {
    margin-top: 8px;
}

#header .links {
    height: auto;
    background-color: #4a86cf;
    color: #fff;
    padding-left: calc(3%);
    margin: 0;
    border-color: #3968a1;
    border-radius: 0;
    min-height: 37px;
}

#header .links .separator {
    color: transparent;
}

/* Sticky Footer */

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

#bugzilla-body {
    -webkit-flex:1;
    -ms-flex:1;
    -webkit-box-flex:1;
    flex:1;
}

/* Don't show div #title (Bug id/title/modified time) */
#titles {
    display: none;
}

/* Don't show obvious links for help links on show_bug.cgi etc - bug 744316 */
.field_label > a, .field_label > label > a {
    text-decoration: none;
    color: #222222;
}

/* Do not display Platform/Hardware field on query.cgi and show_bug.cgi - bug 743027 */
#container_rep_platform, #rep_platform {
    display: none;
}

/* Content */

#bugzilla-body {
    padding: 0 calc(3%);
}

#page-index{
    max-width: 100%;
}

/* Styles for input */

select[multiple], textarea, input[type=text], input[type=password],
input[type=email], input[type=url], input[type=number], input:not([type]), .text_input, .yui-ac-input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #b2b2b2;
    border-radius: .25em;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
    background: white;
    padding:4px;
    color: #000;
    vertical-align: top;
}

select[multiple]:focus, textarea:focus, .text-input:focus, -yui-ac-input:focus {
    border-color: #42a4e0;
    -webkit-box-shadow: 0 0 0 2px rgba(73,173,227,0.4);
    -moz-box-shadow: 0 0 0 2px rgba(73,173,227,0.4);
    box-shadow: 0 0 0 2px rgba(73,173,227,0.4);
}

select, select[multiple] {
    font-size: 12px;
}

/* Sidebar in user/product pages */

#product_summary {
    background: transparent;
    border-left: 3px solid;
    border-color: #d3d9cf;
    margin-left: 8px;
}

#product_summary li {
    text-decoration: none;
    list-display: none;
}

/* BZ bug page*/

/* Bug report Heading */

.bz_bug .bz_alias_short_desc_container,
.bz_alias_short_desc_container {
    font-weight: normal;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
}

.bz_alias_short_desc_container span {
    vertical-align: middle;
}

.bz_alias_short_desc_container a {
    vertical-align: middle;
}

/* Comment Heading */

.bz_first_comment_head,
.bz_comment_head {
   padding: 6px;
   border-radius: 2px;
}

/* Attachment and Tracking time table */

#attachment_table th,
.bz_attach_footer,
.bz_time_tracking_table th {
    background-color: #fff;
    color: #000;
}

#attachment_table td {
    border: none;
}

/* Footer */

#footer {
    color: #fff;
    background-color: #000;
    border: none;
}

#footer .links a,
#header .links a {
    color: #fff;
    text-decoration: none;
}

#footer .links a:hover,
#header .links a:hover {
    text-decoration: underline;
}

#footer #useful-links {
    padding: 0 calc(3%);
}

#footer #links-actions {
    display: none;
}

/* Responsive Media Queries */

@media only screen and (max-width: 360px) {
    #header .links {
        margin: 0px;
    }
}
